.password-recover-container {
  width: 100%;
  max-width: 800px;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 6px 1px rgba(0.4, 0.4, 0.4, 0.4);
}

.password-recover-content {
  height: 600px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.left-content,
.right-content {
  position: absolute;
  top: 50%;
  transform: translateY(15%);
  width: 50%;
  height: auto; /* Para ajustar la altura al contenido */
  padding: 2rem;
  overflow-y: auto;
}

.left-content {
  left: 0;
}

.right-content {
  right: 0;
}

.sliding-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #007BFF;
  color: white;
  padding: 2rem;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sliding-panel.right {
  transform: translateX(100%);
}

.sliding-panel h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.left-content,
.right-content {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  padding: 2rem;
  overflow-y: auto;
}

.left-content {
  left: 0;
}

.right-content {
  right: 0;
}

h3 {
  font-size: 1.25rem;
  font-style: italic;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
