<div class="password-recover-container">
  <div class="password-recover-content">
    <!-- Panel deslizante -->
    <div class="sliding-panel" [class.right]="!isLeftPanelVisible" (click)="togglePanel()">
      <h2>{{ (isLeftPanelVisible ? 'PASSWORD_RECOVER.CHANGE_BY_CREDENTIALS' : 'PASSWORD_RECOVER.CHANGE_BY_CODE') | translate }}</h2>
      <p>
        {{ (isLeftPanelVisible ? 'PASSWORD_RECOVER.CLICK_CREDENTIALS' : 'PASSWORD_RECOVER.CLICK_CODE') | translate }}
      </p>
    </div>

    <!-- Contenido del lado izquierdo - Validación por código -->
    <div class="left-content">
      <h3>{{ 'PASSWORD_RECOVER.CODE_VALIDATION' | translate }}</h3>
      <form [formGroup]="codeForm" (ngSubmit)="validateCode()">
        <div class="form-group">
          <label for="emailCodigo">{{ 'PASSWORD_RECOVER.EMAIL' | translate }}</label>
          <input id="emailCodigo" type="email" formControlName="email" [placeholder]="'PASSWORD_RECOVER.EMAIL_PLACEHOLDER' | translate">
        </div>
        <button type="button" (click)="sendCode()" [disabled]="codeForm.get('email')?.invalid">
          {{ 'PASSWORD_RECOVER.SEND_CODE' | translate }}
        </button>
        <div class="form-group">
          <label for="codigo">{{ 'PASSWORD_RECOVER.VERIFICATION_CODE' | translate }}</label>
          <input id="codigo" type="text" formControlName="code" [placeholder]="'PASSWORD_RECOVER.CODE_PLACEHOLDER' | translate">
        </div>
        <button type="submit" [disabled]="codeForm.invalid">{{ 'PASSWORD_RECOVER.VALIDATE_CODE' | translate }}</button>
      </form>
      <form *ngIf="codeValidated" [formGroup]="newPasswordForm" (ngSubmit)="changePassword()">
        <div class="form-group">
          <label for="nuevaContrasenaCodigo">{{ 'PASSWORD_RECOVER.NEW_PASSWORD' | translate }}</label>
          <input id="nuevaContrasenaCodigo" type="password" formControlName="newPassword" [placeholder]="'PASSWORD_RECOVER.NEW_PASSWORD_PLACEHOLDER' | translate">
        </div>
        <div class="form-group">
          <label for="confirmarContrasenaCodigo">{{ 'PASSWORD_RECOVER.CONFIRM_PASSWORD' | translate }}</label>
          <input id="confirmarContrasenaCodigo" type="password" formControlName="confirmPassword" [placeholder]="'PASSWORD_RECOVER.CONFIRM_PASSWORD_PLACEHOLDER' | translate">
        </div>
        <button type="submit" [disabled]="newPasswordForm.invalid">{{ 'PASSWORD_RECOVER.CHANGE_PASSWORD' | translate }}</button>
      </form>
    </div>

    <!-- Contenido del lado derecho - Validación por credenciales -->
    <div class="right-content">
      <h3>{{ 'PASSWORD_RECOVER.CREDENTIALS_VALIDATION' | translate }}</h3>
      <form [formGroup]="credentialsForm" (ngSubmit)="validateCredentials()">
        <div class="form-group">
          <label for="emailCredenciales">{{ 'PASSWORD_RECOVER.EMAIL' | translate }}</label>
          <input id="emailCredenciales" type="email" formControlName="email" [placeholder]="'PASSWORD_RECOVER.EMAIL_PLACEHOLDER' | translate">
        </div>
        <div class="form-group">
          <label for="contrasenaActual">{{ 'PASSWORD_RECOVER.CURRENT_PASSWORD' | translate }}</label>
          <input id="contrasenaActual" type="password" formControlName="currentPassword" [placeholder]="'PASSWORD_RECOVER.CURRENT_PASSWORD_PLACEHOLDER' | translate">
        </div>
        <button type="submit" [disabled]="credentialsForm.invalid">{{ 'PASSWORD_RECOVER.VALIDATE_CREDENTIALS' | translate }}</button>
      </form>
      <form *ngIf="credentialsValidated" [formGroup]="newPasswordForm" (ngSubmit)="changePassword()">
        <div class="form-group">
          <label for="nuevaContrasenaCredenciales">{{ 'PASSWORD_RECOVER.NEW_PASSWORD' | translate }}</label>
          <input id="nuevaContrasenaCredenciales" type="password" formControlName="newPassword" [placeholder]="'PASSWORD_RECOVER.NEW_PASSWORD_PLACEHOLDER' | translate">
        </div>
        <div class="form-group">
          <label for="confirmarContrasenaCredenciales">{{ 'PASSWORD_RECOVER.CONFIRM_PASSWORD' | translate }}</label>
          <input id="confirmarContrasenaCredenciales" type="password" formControlName="confirmPassword" [placeholder]="'PASSWORD_RECOVER.CONFIRM_PASSWORD_PLACEHOLDER' | translate">
        </div>
        <button type="submit" [disabled]="newPasswordForm.invalid">{{ 'PASSWORD_RECOVER.CHANGE_PASSWORD' | translate }}</button>
      </form>
    </div>
  </div>
</div>
