<header class="header-background py-4 px-6 flex justify-between items-center">
  <h1 class="text-2xl font-bold">UniEventos</h1>
  <div class="flex gap-4">
    <!-- Botón cambiar idioma -->
    <button (click)="translate()" class="inline-flex items-center justify-center h-10 w-10 hover:bg-blue-600">
      <!-- SVG aquí -->
    </button>

    <!-- Botón modo oscuro -->
    <button (click)="change()" class="inline-flex items-center justify-center h-10 w-10 hover:bg-blue-600">
      <!-- SVG aquí -->
    </button>

    <!-- Botón de iniciar sesión, solo si no está logueado -->
    <button *ngIf="!isLoggedIn" (click)="login()" class="inline-flex items-center justify-center h-10 w-10 hover:bg-blue-600">
      Iniciar Sesión
    </button>

    <!-- Botón cerrar sesión, solo si está logueado -->
    <button *ngIf="isLoggedIn" (click)="logout()" class="inline-flex items-center justify-center h-10 w-10 hover:bg-blue-600">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="white" width="800px" height="800px" viewBox="0 0 494.239 494.238">
        <path d="M199.725,0v36.025H85.211v421.66l114.514,0.094v36.459l209.085-37.555l0.216-418.867L199.725,0z M234.404,230.574 c7.022,0,12.715,7.408,12.715,16.545c0,9.139-5.692,16.545-12.715,16.545s-12.715-7.406-12.715-16.545 C221.688,237.982,227.382,230.574,234.404,230.574z M119.211,423.713V70.025h80.514v353.753L119.211,423.713z"></path>
      </svg>
    </button>
  </div>
</header>
