body {
  @apply bg-background text-foreground; /* Clases personalizadas */
}

.header-background {
  background-color: #007BFF; /* Color azul */
  color: white; /* Asegura que el texto y los íconos sean visibles sobre el fondo azul */
}

.header {
  max-height: 30px;
  @apply shadow-lg;
}

.container {
  width: 70%;
  margin: auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  margin-top: 10px;
}

.form-row {
  display: flex;
  flex-direction: column;
  width: 48%;
}

label {
  margin-top: 10px;
  color: #555;
}

input{
  margin-top: 5px;
  justify-content: space-evenly;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
  max-height: 90%;
}
select, textarea, button {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #001BFF;
}

#localitiesList {
  margin-top: 20px;
}
